<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>orco</title>
</head>
<body style="background-color: blueviolet;">
    <header>

        <!-- <p><a href="/">Home</a></p> -->
    </header>
    <main>
    <section style="display: block; justify-content:space-between; align-content: center; position: relative; left: 30%">
        <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:50px; color: #ffff;margin: 50px">orco</h1>
        <div class="people-space" style="display: flex; background-color: #ffff; height: 100px; width:200px; padding:10%;">
            <a href="/sender" style="display: block; height: 60px; width:1000px; background-color: chartreuse; color: #ffff; text-align: center; text-decoration: none;padding: 10px; position:relative; top: 50px; border-radius: 10px;"><h3 style="text-align: center; color: #000;  margin-bottom: 50%; ">sender</h3></a>
        <br>
        <br>
        <a href="/receiver" style="display: block; height: 60px; width:1000px; background-color: chartreuse; color: #ffff; text-align: center; text-decoration: none;padding: 10px;position: relative; bottom: 50px; border-radius: 10px;"><h3 style="text-align: center; color: #000;  margin-bottom: 50%; ">Receiver</h3></a>
        
    </section>
    </main>
    <footer>


    </footer>
    
</body>
</html>