<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Password</title>
</head>
<body>
    <form>
        <input type="password" id="password" name="password" placeholder="Enter your password" 
               style="width: 280px;height: 40px;background-color: black;color: white;font-size: 25px;border-color: black;border-width: 5px;" required>

        <br><br>

        <input type="checkbox" id="showPassword" onclick="togglePassword()"> Show Password
    </form>

    <script>
        function togglePassword() {
            var passwordField = document.getElementById("password");
            if (passwordField.type === "password") {
                passwordField.type = "text";
            } else {
                passwordField.type = "password";
            }
        }
    </script>
</body>
</html>
